@page "/users"
@using BaseApp.Data.User.Dtos
@attribute [StreamRendering(true)]

<h3>User List</h3>

@if (IsLoading)
{
    <p>Loading...</p>
}
else if (HasError)
{
    <div class="alert alert-danger">
        <h4 class="alert-heading">Error</h4>
        <p>Failed to load user list. Please try again later..</p>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <hr />
            <p class="mb-0">@ErrorMessage</p>
        }
    </div>
}
else if (!users.Any())
{
    <p>No users found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Date of Birth</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>           
                    <td>@user.DateOfBirth?.ToShortDateString()</td>                    
                    <th>@user.Age</th>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm" href="/users/edit/@user.Id">Edit</a>
                        <a class="btn btn-primary btn-sm" href="/users/delete/@user.Id?userName=@user.UserName">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="figure-caption">
    <a class="btn btn-primary" role="button" href="/users/create">Create User</a>
</div>
